/* header-styles */
.services-header {
    display: flex;
    justify-content: space-between;
    height: 72px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0px;
    width: 100%;
    padding-left: 66px;
    padding-right: 66px;
}
.logo-nav {
    display: flex;
    justify-content: space-between;
}
.navigation ul  {
    width: 387px;
    display:flex;
    justify-content: space-between;

}
.logo-nav a {
    color: #202126;
}
.headers-icons {
    width: 221px;
    display: flex;
    justify-content: space-between;
}
.logo {
    margin-right: 97px;
}
.burger-bar {
    display: none;
}

/* section-1-styles */
.section-1 {
    margin-top: 72px;
}
.section1-container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}
.section-title {
    margin:80px 0 74px ;
}
.blocks-container {
    height: 1070px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
    
}
.block {
    width: 272px;
    /* width: 100%; */
    height: 327px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #202126;
    border-radius: 15px;
    color: #D5D5D5;
    padding-left: 12px;
}
.block:nth-child(5),
.block:nth-child(6),
.block:nth-child(7),
.block:nth-child(8) {
    margin-top: 45px;
    margin-bottom: 45px;
}
.block:nth-child(1),
.block:nth-child(2),
.block:nth-child(3),
.block:nth-child(5),
.block:nth-child(6),
.block:nth-child(7),
.block:nth-child(9) {
    margin-right: 20px;
} 
.block p {
    max-width: 248px;
    width: 100%;
    margin-top: 26px;
    margin-bottom: 26px;
}
.block h4 {
    width: 188px;
}
.block a {
    width: 98px;
    color: #fff;
}
.block:hover {
    background-color: #D7BE69;
    color: #202126;
}
/* footer-styles */
footer {
    margin-top: 73px;
}
.footer-line1 {
    width: 100%;
    height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 49px;
    padding-left: 49px;
}
.footer-line1 div a {
    color: #202126;
}
.footer-icons {
    max-width: 221px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.footer-line2 {
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color:#202126 ;
}
.line2-text1 {
    margin-right: 10px;
}
.line2-text1::before {
    font-family: FontAwesome; content: "\f1f9";
    margin-right: 5px;
}